.product-card a{
    text-decoration: none;
}
.product-card img{
    width: 100%;
    height: 190PX;
    border-radius: 5px 5px 0 0;
}
.product-card .category{
    color: grey;
    font-size: 15px;
    margin-bottom: 5px !important;
    text-transform: capitalize;
}
.product-card .name{
    font-size: 18px;
}
.product-card p{
    margin-bottom: px !important;
}
.product-card .rating{
    font-weight: 500;
    font-size: 17px;
}
.product-card .price{
    font-weight: bold;
}
.product-card .price span:last-of-type{
    margin-left: 15px;
}
